@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InkCanvas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_flatly.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/_1.styles.css" asp-append-version="true" /> *@
</head>

<style>
    #left, #right {
        width: 100px;
        float: left;
    }
</style>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IC</a>

                <div>
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown" style="width: 120px">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Акаунт</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="@Url.Action("Profile", "Account")">Профіль</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    @if (User.IsInRole("admin"))
                    {
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item dropdown" style="width: 120px">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Керування</a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Services")">Імпорт/експорт</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Roles")">Ролі</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Chart")">Статистика</a>
                                </div>
                            </li>
                        </ul>
                    }
                </div>
                    <div class="ms-auto d-flex align-items-center">
                        @if (!(Context.Request.RouteValues["controller"].ToString() == "Account" && (Context.Request.RouteValues["action"].ToString() == "Register" || Context.Request.RouteValues["action"].ToString() == "Login")))
                        {
                            <form action="@Url.Action("SearchPost", "Posts")" class="d-flex me-2">
                                <input class="form-control me-sm-2" name="searchString" type="search" placeholder="Введіть букви">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Пошук</button>
                            </form>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <p class="m-0">@User.FindFirstValue("Login")</p>
                            <form class="m-0" method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn btn-secondary">Вихід</button>
                            </form>
                        }
                        else
                        {
                            @if (!(Context.Request.RouteValues["controller"].ToString() == "Account" && (Context.Request.RouteValues["action"].ToString() == "Register" || Context.Request.RouteValues["action"].ToString() == "Login")))
                            {
                                <div>
                                    <form class="m-0" method="post" asp-controller="Account" asp-action="Login">
                                        <button type="submit" class="btn btn-secondary">Вхід</button>
                                    </form>
                                </div>
                                <div>
                                    <form class="m-0" method="post" asp-controller="Account" asp-action="Register">
                                        <button type="submit" class="btn btn-secondary">Реєстація</button>
                                    </form>
                                </div>
                            }
                        }
                </div>
            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
