@model ImagiArtDomain.Model.Post

@{
    ViewData["Title"] = "Деталі";
}

<h2>@Html.DisplayFor(model => model.Caption)</h2>
<h3>@Html.DisplayFor(model => model.Description)</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>

<div>
    @Html.Partial("CommentsList", Model.Comments)
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Назад</a>
</div>
