@model IEnumerable<ImagiArtDomain.Model.Post>

@{
    ViewData["Title"] = "Пости";
}

<h3>Перелік всіх постів</h3>

<p>
    <a asp-action="Create">Новий пост</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Інфо</a>
                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редагувати</a>
                <a asp-controller="Posts" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
