@model InkCanvas.Models.Post
@inject Microsoft.AspNetCore.Identity.UserManager<InkCanvas.Models.User> UserManager

@{
    ViewData["Title"] = $"{Model.Caption}";
}

<style>
    .Buttons {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    .Likes {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    .Subs {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }
</style>

@if (!string.IsNullOrEmpty(Model.ImageUrl))
{
    <img src="@Model.ImageUrl" alt="Post Image" style="max-width: 500px; max-height: 500px;"/>
}
<h2>@Html.DisplayFor(model => model.Caption)</h2>
<h4>@Html.DisplayFor(model => model.Description)</h4>
<h4>@Html.DisplayFor(model => model.Date)</h4>

<dd class="col-sm-10">
    @{
        var user = await UserManager.FindByIdAsync(Model.UserId);
        if (user != null)
        {
            <a href="@Url.Action("UserProfile", "Account", new { userId = user.Id })"><h4>@user.Login</h4></a>
        }
        else
        {
            <span>Користувача не знайдено.</span>
        }
    }
</dd>

<div class="Buttons">
    @{
        if (Model.Likes.Any(l => l.UserId == UserManager.GetUserId(User)))
        {
            <button type="button" class="btn btn-primary" onclick="toggleLike(@Model.PostId)">♥</button>
        }
        else
        {
            <button type="button" class="btn btn-primary" onclick="toggleLike(@Model.PostId)">♡</button>
        }
    }
    <div>
    
    @{
        if (@Model.Likes.Count == 1)
        {
        <p>@Model.Likes.Count вподобайка.</p>
        }
        else if (@Model.Likes.Count == 2 || @Model.Likes.Count == 3 || @Model.Likes.Count == 4)
        {
            <p>@Model.Likes.Count вподобайки.</p>
        }
        else
        {
            <p>@Model.Likes.Count вподобайок.</p>
        }
    }

    <form asp-controller="Comments" asp-action="CreateComment" method="post">
        <input type="hidden" name="postId" value="@Model.PostId" />
        <textarea name="commentText" class="form-control" rows="3" required></textarea>
        <button type="submit" class="btn btn-primary">Коментар</button>
    </form>
    </div>
</div>

<hr />

<div>
    @Html.Partial("CommentsList", Model.Comments)
</div>

<form action="javascript:history.back()" class="m-0">
    <button type="submit" class="btn btn-secondary">Назад</button>
</form>

<script>
    function toggleLike(postId) {
        $.post({
            url: "/Likes/Like",
            data: { postId: postId },
            success: function () {
                // Reload the page or update the UI as needed
                location.reload();
            },
            error: function (error) {
                console.error(error);
                // Handle error as needed
            }
        });
    }
</script>
