@model ImagiArtDomain.Model.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Інформація про коментар</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Назад</a>
</div>
