@model IEnumerable<ImagiArtDomain.Model.Comment>

@{
    ViewData["Title"] = "Коментарі";
}

<h3>Перелік всіх коментарів</h3>

<p>
    <a asp-action="Create">Новий коментар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mr-1">Редагувати</a>
                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
