@model IEnumerable<ImagiArtDomain.Model.UserFollower>

@{
    ViewData["Title"] = "Підписки";
}

<h3>Підписки</h3>

<p>
    <a asp-action="Create">Нова підписка</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FollowerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FollowerId)
                </td>
                <td>
                <td>
                    <a asp-controller="UserFollowers" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
