@model IEnumerable<ImagiArtDomain.Model.Like>

@{
    ViewData["Title"] = "Вподобайки";
}

<h3>Вподобайки</h3>

<p>
    <a asp-action="Create">Нова вподобайка</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                <a asp-controller="Likes" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
