@model User
@inject Microsoft.AspNetCore.Identity.UserManager<InkCanvas.Models.User> UserManager

<h2>Профіль @Model.Login</h2>

@Model.Email</p>
<p><strong>Вік:</strong> @Model.Age</p>
<a href="@Url.Action("Create", "Posts")" class="btn btn-primary">Новий пост</a>


<hr>

@if (Model.Posts.Any())
{
    <div class="container">
        <div class="list-group">
            @foreach (var item in Model.Posts)
            {
                var user = await UserManager.FindByIdAsync(item.UserId);
                <a href="@Url.Action("Details", "Posts", new { id = item.PostId })" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Caption</h5>
                        <h4 class="mb-1">@user.Login</h4>
                        <h4 class="mb-1">@item.Date</h4>
                    </div>
                    <p class="mb-1">@item.Description</p>
                </a>
            }
        </div>
    </div>
}
else
{
    <h5>Поки що тут пусто.</h5>
}
