@model User
@inject Microsoft.AspNetCore.Identity.UserManager<InkCanvas.Models.User> UserManager

<style>
    .Buttons {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    .Likes {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    .Subs {
        width: 200px;
        margin: 0 auto;
        display: inline;
    }

    .edit-icon {
        cursor: pointer;
        margin-left: 10px;
    }

    .edit-form {
        display: none;
    }
</style>

<h3>
    Профіль @Model.Login
    <span class="edit-icon" onclick="toggleEditForm()">u</span>
</h3>

<div id="editForm" class="edit-form">
    <form asp-action="UpdateLogin" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="newLogin" name="newLogin" value="@Model.Login" />
        </div>
        <button type="submit" class="btn btn-primary">Оновити Логін</button>
    </form>
</div>

@Model.Email</p>
<p><strong>Вік:</strong> @Model.Age</p>
<div class="Buttons">
    <div class="row mb-2">
        <div class="col">
            <a href="@Url.Action("Create", "Posts")" class="btn btn-primary btn-block">Новий пост</a>
        </div>
    </div>

    <div>
        <div class="col-md-6 mb-1">
            <a class="btn btn-secondary" asp-controller="Likes" asp-action="UserLikes" asp-route-userId="@Model.Id">Вподобані</a>
        </div>
        <div class="col-md-6 mb-1">
            <a class="btn btn-secondary" asp-controller="Follows" asp-action="UserFollowers" asp-route-userId="@Model.Id">Підписники</a>
        </div>
    </div>
</div>


<hr />

@if (Model.Posts.Any())
{
    <div class="container">
        <div class="list-group">
            @foreach (var item in Model.Posts)
            {
                var user = await UserManager.FindByIdAsync(item.UserId);
                <a href="@Url.Action("Details", "Posts", new { id = item.PostId })" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Caption</h5>
                    </div>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" class="mr-3" alt="Post Image" style="width: 210px; height: 210px;">
                    }
                </a>
            }
        </div>
    </div>
}
else
{
    <h5>Поки що тут пусто.</h5>
}

<script>
    function toggleEditForm() {
        var form = document.getElementById('editForm');
        if (form.style.display === 'none' || form.style.display === '') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
</script>