@model User
@inject Microsoft.AspNetCore.Identity.UserManager<InkCanvas.Models.User> UserManager

@{
    ViewData["Title"] = $"{Model.Login} profile";
}

<h3>@Model.Login profile</h3>

<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Age:</strong> @Model.Age</p>

@if (User.Identity.IsAuthenticated)
{
    var isFollowing = Model.FollowFollowers.Any(l => l.UserId == UserManager.GetUserId(User));
    <button id="followButton" type="button" class="btn btn-primary" onclick="toggleFollow('@Model.Id')">
        @(isFollowing ? "Unfollow" : "Follow")
    </button>
    
}
<p id="followCount">@Model.FollowFollowers.Count() followers</p>

<hr />

@if (Model.Posts.Any())
{
    <div class="container">
        <div class="list-group">
            @foreach (var item in Model.Posts)
            {
                <a href="@Url.Action("Details", "Posts", new { id = item.PostId })" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Caption</h5>
                    </div>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" class="mr-3" alt="Post Image" style="width: 210px; height: 210px;">
                    }
                </a>
            }
        </div>
    </div>
}
else
{
    <h5>It's quiet in here. Too quiet...</h5>
}

<script>
    function toggleFollow(userId) {
        $.post({
            url: "/Follows/ToggleFollow",
            data: { userId: userId },
            success: function (data) {
                const followButton = document.getElementById('followButton');
                const followCountElement = document.getElementById('followCount');

                // Toggling the follow button text
                if (followButton.innerText === 'Follow') {
                    followButton.innerText = 'Unfollow';
                } else {
                    followButton.innerText = 'Follow';
                }

                // Updating the follow count
                followCountElement.innerText = `${data.followCount} followers`;
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>
